[Service]
ExecStart=/usr/local/bin/node /home/abode/app/index.js
WorkingDirectory=/home/abode/app
User=abode
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=abode
Environment=DISPLAY=0:0
Environment=NODE_ENV=production
After=network.target mongodb.service

[Install]
WantedBy=multi-user.target
