[Service]
ExecStart=DISPLAY=0:0 /usr/local/bin/node /home/scott/git/abode-device/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=abode
Environment=NODE_ENV=prod
After=network.target mongodb.service

[Install]
WantedBy=multi-user.target
