[Service]
ExecStart=/home/abode/app/sensors.py 22 27 17
WorkingDirectory=/home/abode/app
User=root
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=abode

[Install]
WantedBy=multi-user.target
