[Unit]
Description=Abode Home Automation Service
After=network.target mongodb.service

[Service]
ExecStart=/usr/bin/node /home/abode/abode-server/index.js
WorkingDirectory=/home/abode/abode-server
User=abode
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=abode
Environment=DISPLAY=:0
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
