[Service]
ExecStart=/usr/bin/abode-display.py abode
User=root
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=abode

[Install]
WantedBy=multi-user.target
