
<background ></background>
<content margin="1" top="0" bottom="0" left="0" right="0">

  <div class="text-danger" style="position: absolute; text-align: center; right: .5em; top: .5em; font-size: 5em; text-shadow; text-shadow: 0 0 .05em black;" ng-show="http_error">
    <i class="glyphicon glyphicon-warning-sign"></i>
    <div style="font-size: .4em; font-weight: bold;">Connection Error</div>
  </div>

  <content bottom="-1" left="-1" right="-1" height="9" background="rgba(0, 0, 0, 0.5)"></content>

  <content bottom="0" top="0" right="1" left="0">
    <datetime top="0" right=".25" size="3" align="right" color="white" shadow="0 0 .1em black" format="EEE, MMM d"></datetime>
    <datetime top="0" bottom="0" left="0" right="0" height="1.5" shadow="0 0 .1em black" margin="auto" align="center"  color="white" size="18" format="h:mm" id="time"></datetime>

    <statuses bottom="1" left="0" right="0" align="right">
      <status room="All Doors" icon="door-open"></status>
      <status room="All Windows" icon="window"></status>
      <status room="All Motion" icon="motion"></status>
      <climate room="All Climate" stat="_temperature"></climate>
    </statuses>

    <weather bottom=".6" left="2.5" size="3.5" width="5.2" device="Weather" type="value">
      {{current.temp}}&deg;F
      <span style="font-size: .35em; display: inline-block;">
        <div>{{forecast[0].temp_high}}</div>
        <div>{{forecast[0].temp_low}}</div>
      </span>
    </weather>

    <weather size="1.8" bottom=".1" left="4.8" type="value" device="Weather">
      <i class="wi wi-wind wi-towards-n" style="transform: rotate({{current.wind_degrees}}deg); transition: 1s;"></i> {{current.wind}}mph
      <span ng-show="current.rain_total > 0">
      <i class="wi wi-umbrella"></i> {{current.rain_total}}in
      </span>
      <span ng-show="current.rain_total == 0">
      {{current.humidity}} <i class="wi wi-humidity"></i>
      </span>
    </weather>

    <weather width="9" height="9" bottom="-.75" left="-.5" device="Weather" type="icon" value="current"></weather>
  </content>

</content>
