<div style="font-size: 2em; color: black; background-color: white; position: absolute; top: 0em; bottom: 3.5em; left: 0em; right: 0em; overflow: auto;">
  <div class="bg-light" style="position: fixed; width: 10em; bottom: 0em; top: 0em; padding-top: 1em;">
    <ul style="list-style: none;">
      <li ng-click="active = 'general'" ng-class="{'bg-white': active == 'general'}" style="cursor: pointer; padding: .5em; margin: 0em; border-top-left-radius: .25em; border-bottom-left-radius: .25em;">General</li>
      <li ng-click="active = 'home'" ng-class="{'bg-white': active == 'home'}" style="cursor: pointer; padding: .5em;">Home</li>
      <li ng-click="active = 'sources'" ng-class="{'bg-white': active == 'sources'}" style="cursor: pointer; padding: .5em;">Sources</li>
      <li ng-click="active = 'sensors'" ng-class="{'bg-white': active == 'sensors'}" style="cursor: pointer; padding: .5em;">Sensors</li>
      <li ng-click="active = 'providers'" ng-class="{'bg-white': active == 'providers'}" style="cursor: pointer; padding: .5em;">Providers</li>
      <li ng-click="active = 'display'" ng-class="{'bg-white': active == 'display'}" style="cursor: pointer; padding: .5em;">Display</li>
      <li ng-click="active = 'networking'" ng-class="{'bg-white': active == 'networking'}" style="cursor: pointer; padding: .5em;">Networking</li>
    </ul>
  </div>
  <div style="margin-left: 10em; padding: 1em;">
    <div ng-show="active == 'general'">
    <h3>General</h3>
    <p>Name</p>
    <p>Location</p>
    <p>Time</p>
    <p>Restart</p>
    <p>Shutdown</p>
    </div>
    <div ng-show="active == 'home'">
      <h3>Home</h3>
      <p>Content</p>
    </div>
    <div ng-show="active == 'sources'">
      <h3>Sources</h3>
      <p>Add</p>
    </div>
    <div ng-show="active == 'sensors'">
      <h3>Sensors</h3>
      <p>Temperature/Humdity</p>
      <p>Light</p>
      <p>Motion</p>
      <p>Proximity</p>
    </div>
    <div ng-show="active == 'display'">
      <h3>Display</h3>
      <p>Brightness</p>
      <p>Auto Off</p>
    </div>
    <div ng-show="active == 'providers'">
      <h3>Providers</h3>
      <p>Wunderground</p>
      <p>Insteon</p>
      <p>Time</p>
      <p>RadioThermostat</p>
      <p>Cameras</p>
      <p>IFTTT</p>
    </div>
    <div ng-show="active == 'networking'">
      <h3>Networking</h3>
      <p>Wired</p>
      <p>Wifi</p>
      <p>DHCP/Static</p>
    </div>
  </div>
</div>
<div class="bg-dark" style="position: absolute; bottom: 0em; left: 0em; right: 0em; height: 7em; text-align: right; padding-top: 1em; padding-right: 2em;">
      <button class="btn btn-info btn-sm" style="width: 6em;" ng-click="logout()">Save</button>
      <button class="btn btn-warning btn-sm" style="width: 6em;" ui-sref="index.home">Cancel</button>
</div>
