
.content {
  position: absolute;
  z-index: 10;
}


.night {
  color: #e64533;
}

.spin {
  display: inline-block;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-stop { 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes-stop spin { 100% { -webkit-transform: rotate(0deg); } }
@keyframes spin-stop { 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }


.spin-stop {
    -webkit-animation: spin-stop 2s ease-out;
    -moz-animation: spin-stop 2s ease-out;
    animation: spin-stop 2s ease-out;
}

.bg-dark {
  background-color: #333;
}

.bg-muted {
  background-color: #777;
}

.bg-light {
  background-color: #ccc;
}

.bg-white {
  background-color: #fff;
}


.border-default {
  border-color: #464545;
}

.border-danger {
  border-color: #881c11;
}

.border-success {
  border-color: #00805f;
}

.border-info {
  border-color: #3498DB;
}

.border-primary {
  border-color: #375A7F;
}

.select-list {
  overflow: auto;
  height: 8em;
  padding: .2em;
  border-radius: .1em;
  border: 1px solid #aaa;
}

.epochtime {
  font-size: .9em;
}
.epochtime>div {
  display: inline-block;
  vertical-align: middle;
  height: 6em;
  width: 2em;
}
.epochtime-days input, .epochtime-hours input, .epochtime-minutes input, .epochtime-days button, .epochtime-hours button, .epochtime-minutes button {
  width: 2em;
  height: 2em;
  text-align: center;
}
.epochtime-days button, .epochtime-hours button, .epochtime-minutes button {
  border: 0px;
  background-color: inherit;
}
.epochtime-meridian, .epochtime-label {
  padding-top: 2em;
  width: 1em !important;
  text-align: center;
}
.epochtime-meridian button {
  width: 4em;
  height: 2em;
  text-align: center;
  background-color: #464545;
}

.strike-through {
  text-decoration: line-through;
}

.or-conditions {
  border-left: .2em solid #C87F0A;
}

.and-conditions {
  border-left: .2em solid #00805f;
}

.section-nav {
  list-style: none;
  padding: 0px;
  width: 100%;
}


.section-nav li {
  cursor: pointer;
  padding: .25em;
}

.section-nav li.active {
  background-color: #375A7F;
}


.section-nav li:hover {
  background-color: #444;
}



.section-nav li:hover.active {
  background-color: #375A7F;
}

.insteon-types {
  list-style: none;
  padding: 0px;
}
.insteon-types li {
  display: inline-block;
  height: 5em;
  width: 5em;
  border: 1px solid #aaa;
  text-align: center;
  margin: .5em;
  border-radius: .2em;
  cursor: pointer;
}

.insteon-types li.active {
  background-color: ;
}

.notifier {
  position: absolute;
  z-index: 1000;
  bottom: 0em;
  left: 0em;
  right: 0em;
  height: 0em;
  transition: .5s ease;
  -webkit-transition:: .5s ease;
  background-color: #222;
  font-size: 2.5em;
}

.notifier ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.notifier li {
  line-height: 2em;
  padding-left: 1em;
}
.notifier.peak {
  height: 2.5em;
}

.room_filter {
  font-size: 2em;
  width: 100%;
  height: 100%;
  line-height: 1.7em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: 0em 0em .2em black;
  position: relative;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}

.room_filter.selected {
  background-color: #444;
  color: #ddd;
}

.room_filter .on-count {
  position: absolute;
  bottom: 1em;
  right: 0em;
  font-size: .4em;
  height: 1.75em;
  width: 1.75em;
  background-color: #333;
  color: #fff;
  border-radius: .9em;
  line-height: 1.7em;

}

.room-filter-offset {
  margin-top: -3.5em;

}
.on-ok {
  background-color: #00bc8c !important;
}

.on-danger {
  background-color: rgb(231, 76, 60) !important;
}

.room-icon {
  position: relative;
  height: 3em;
  width: 3em;
  border: .2em solid #444;
  border-radius: 1.5em;
  line-height: 2.5em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #222;
  transition: .5s ease;
  text-shadow: 0em 0em .3em black;
  cursor: pointer;
  color: #777;
  margin: 0em .1em;
  box-shadow: 0em 0em .2em black;
}

.room-icon.active {
  color: inherit;
}

.night .room-icon {
  border-color: #222;
  background-color: #111;
}

.room-icon-temp {
  font-size: 1.3em;
  margin-top: .1em
}

.room-icon-display {
  position: absolute;
  top: -1.5em;
  left: 0em;
  right: 0em;
  text-align: center;
  font-size: .5em;
}

.room-icon-status {
  position: absolute;
  top: -.5em;
  font-size: .5em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  background-color: #333;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0em 0em .3em black;
  opacity: 0;
  color: white;
  transition: .5s ease;
}

.room-icon-loading {
  left: -.5em;
}

.room-loading {
  opacity: .5;
}

.room-icon-error {
  color: gray;
  text-shadow: 0em 0em .2em #5b130b;
  right: -.5em;
}

.room-error {
  opacity: 1;
}

.room-icon-badge {
  position: absolute;
  bottom: -1em;
  font-size: .5em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  background-color: #333;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0em 0em .3em black;
  opacity: 0;
  transition: .5s ease;
}

.night .room-icon-badge {
  color: #666;
}

.room-icon-openclose {
  left: -.4em;
}

.room-icon-fan {
  left: 1.66em;
}

.room-icon-conditioner {
  right: -.4em;
}

.room-light {
  background-color: #c27b0a !important;
}

.night .room-light {
  background-color: #333300 !important;
}

.room-motion {
  border-color: #5a100c !important;
  box-shadow: 0em 0em .2em white;
}

.night .room-motion {
  border-color: #5b130b !important;
}

.room-openclose {
  background-color: rgb(231, 76, 60);
  font-weight: bold;
  opacity: 1;
}

.night .room-openclose {
  background-color: #5a100c;
}

.room-fan {
  background-color: #00805f;
  opacity: 1;
}

.night .room-fan {
  background-color: #003326;
}

.room-heat {
  background-color: rgb(231, 76, 60);
  opacity: 1;
}

.night .room-heat {
  background-color: #5a100c;
}

.room-cool {
  background-color: #3498DB;
  opacity: 1;
}


.night .room-cool {
  background-color: #0f3a57;
  opacity: 1;
}

.room-cameras {

}

.room-cameras-controls {
  text-shadow: 0em 0em .2em black;
  top: 40%; cursor:
  pointer;
  font-size: 4em;
  position: absolute;
  right: 0em;
  opacity: .7
  display: inline-block;
}

.room-cameras-refresh {
  position: absolute;
  text-align: center;
  text-shadow: 0em 0em .2em black;
  font-size: 4em;
  top: 1em;
  opacity: .3;
  left: 40%;
  right: 40%;
  cursor: pointer;
}

.room-cameras-controls.previous {
  left: 0em;
  width: 1em;
}

.room-cameras-controls.next {
  right: 0em;
  width: 1em;
}

.room-cameras-controls.play {
  left: 40%;
  right: 40%;
  text-align: center;
  font-size: 5.5em;
  opacity: .3;
}
