
.content {
  position: absolute;
  z-index: 10;
}

.spin {
  display: inline-block;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-stop { 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes-stop spin { 100% { -webkit-transform: rotate(0deg); } }
@keyframes spin-stop { 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }


.spin-stop {
    -webkit-animation: spin-stop 2s ease-out;
    -moz-animation: spin-stop 2s ease-out;
    animation: spin-stop 2s ease-out;
}


.bg-dark {
  background-color: #333;
}

.bg-muted {
  background-color: #777;
}

.bg-light {
  background-color: #ccc;
}

.bg-white {
  background-color: #fff;
}


.border-default {
  border-color: #464545;
}

.border-danger {
  border-color: #881c11;
}

.border-success {
  border-color: #00805f;
}

.border-info {
  border-color: #3498DB;
}

.border-primary {
  border-color: #375A7F;
}

.select-list {
  overflow: auto;
  height: 8em;
  padding: .2em;
  border-radius: .1em;
  border: 1px solid #aaa;
}

.epochtime {
  font-size: .9em;
}
.epochtime>div {
  display: inline-block;
  vertical-align: middle;
  height: 6em;
  width: 2em;
}
.epochtime-days input, .epochtime-hours input, .epochtime-minutes input, .epochtime-days button, .epochtime-hours button, .epochtime-minutes button {
  width: 2em;
  height: 2em;
  text-align: center;
}
.epochtime-days button, .epochtime-hours button, .epochtime-minutes button {
  border: 0px;
  background-color: inherit;
}
.epochtime-meridian, .epochtime-label {
  padding-top: 2em;
  width: 1em !important;
  text-align: center;
}
.epochtime-meridian button {
  width: 4em;
  height: 2em;
  text-align: center;
  background-color: #464545;
}

.strike-through {
  text-decoration: line-through;
}

.or-conditions {
  border-left: .2em solid #C87F0A;
}

.and-conditions {
  border-left: .2em solid #00805f;
}

.section-nav {
  list-style: none;
  padding: 0px;
  width: 100%;
}


.section-nav li {
  cursor: pointer;
  padding: .25em;
}

.section-nav li.active {
  background-color: #375A7F;
}


.section-nav li:hover {
  background-color: #444;
}



.section-nav li:hover.active {
  background-color: #375A7F;
}

.insteon-types {
  list-style: none;
  padding: 0px;
}
.insteon-types li {
  display: inline-block;
  height: 5em;
  width: 5em;
  border: 1px solid #aaa;
  text-align: center;
  margin: .5em;
  border-radius: .2em;
  cursor: pointer;
}

.insteon-types li.active {
  background-color: ;
}
