.statuses {
  position: absolute;
  list-style: none;
}

@media (min-width: 480px) {
  .status {
    font-size: 1.2em;
  }
}
.statuses li {
  display: inline-block;
}
.status {
  position: relative;
  height: 5em;
  width: 5em;
  background-color: #333;
  border: .3em solid #fff;
  margin: 0em .5em;
}
.status-icon {
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  line-height: 4em;
  text-align: center;
}
.status i {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 2em;
}

.doors {
  background-image: url('../images/doors.png');
}

.windows {
  background-image: url('../images/windows.png');
}

.motion {
  background-image: url('../images/motion.png');
}

.status_badge {
  position: absolute;
  bottom: -.4em;
  right: -.3em;
  height: 1.7em;
  width: 1.7em;
  padding: 2px 4px;
  font-weight: bold;
}

.status_list {
  background-color: #000;
  position: absolute;
  left: ;
}
