

.doors {
  background-image: url('../images/doors.png');
}

.windows {
  background-image: url('../images/windows.png');
}

.motion {
  background-image: url('../images/motion.png');
}

.status_badge {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #3366cc;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

.status_alert {
  background-color: #ff0000;
}

.status_list {
  background-color: #000;
  position: absolute;
  left: ;
}
