<div class="modal-body">

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="device in devices | orderBy: ['-_on', '+name']" ng-class="{'list-group-item-muted': '!device._on', 'list-group-item-success': device._on, 'list-group-item-info': (device._mode == 'COOL' && device._on), 'list-group-item-danger': (device._mode == 'HEAT' && device._on)}" ng-click="open(device.name)"><h5 class="list-group-item-heading">{{device.name}}</h5>
       <p style="font-size: 1.4em;" class="list-group-item-text text-right">
         <i class="icon-fan" ng-show="has_capability(device, 'fan')"></i>
         <i class="icon-snow" ng-show="device._mode == 'COOL'"></i>
         <i class="icon-fire" ng-show="device._mode == 'HEAT'"></i>
         <span ng-show="has_capability(device, 'temperature_sensor')"><i class="wi wi-thermometer"></i> {{device._temperature}}</span>
       </p>
    </li>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
</div>
