<div class="modal-header">
    <h4 class="modal-title">{{name}}

      <button class="btn btn-primary btn-sm pull-right" ng-hide="errors || processing" ng-click="reload()"><i class="icon-refresh"></i></button>
      <button class="btn btn-danger btn-sm pull-right" ng-show="errors" ng-click="reload()"><i class="icon-erroralt"></i></button>
      <button class="btn btn-default btn-sm pull-right" ng-show="processing"><i class="icon-loadingalt spin"></i></button>
    </h4>
</div>
<div class="modal-body">

  <ul class="list-group">
    <li class="list-group-item" style="cursor: pointer" ng-repeat="scene in scenes | orderBy: ['-_on', '+age', '+name']" ng-class="{'list-group-item-success': scene._on}">
      <h5 class="list-group-item-heading"><i class="icon-picture"></i> {{scene.name}}</h5>
      <p style="font-size: 1.2em;" class="list-group-item-text ">{{scene.age | ageHumanReadable}}</p>
    </li>
    <li class="list-group-item" style="cursor: pointer" ng-repeat="device in devices | orderBy: ['-_on', '+age', '+name']" ng-class="{'list-group-item-success': device_state(device, '_on', true, ['light', 'display', 'fan']), 'list-group-item-danger': device_state(device, '_on', true, ['door', 'window', 'motion_sensor']) || device._mode == 'HEAT', 'list-group-item-info': device._mode == 'COOL'}" ng-click="open(device.name)">
      <h5 class="list-group-item-heading">
        <i class="icon-fan" ng-show="has_capability(device, 'fan')"></i>
        <i class="icon-lightbulb-idea" ng-show="has_capability(device, 'light')"></i>
        <i class="icon-monitor" ng-show="has_capability(device, 'display')"></i>
        <i class="fi-window" ng-show="has_capability(device, 'window')"></i>
        <i class="fi-door-open" ng-show="has_capability(device, 'door')"></i>
        <i class="fi-motion" ng-show="has_capability(device, 'motion_sensor')"></i>
        <i class="wi wi-day-snow-thunderstorm" ng-show="has_capability(device, 'weather')"></i>
        <i class="icon-temperaturealt-thermometeralt" ng-show="has_capability(device, 'conditioner')"></i>
        {{device.name}}
        <p class="list-group-item-text pull-right">
          <span class="badge"></span>
          <span class="badge" ng-show="device._mode == 'COOL'">{{device._set_point}} <i class="icon-snow"></i></span>
          <span class="badge" ng-show="device._mode == 'HEAT'">{{device._set_point}} <i class="icon-fire"></i></span>
          <span class="badge" ng-show="has_capability(device, 'temperature_sensor')">{{device._temperature}} <i class="wi wi-thermometer"></i></span>
          <span class="badge" ng-show="has_capability(device, 'humidity_sensor')">{{device._humidity}} <i class="wi wi-humidity"></i></span>
          <span class="badge" ng-show="has_capability(device, 'light_sensor')">{{device._lumens}} <i class="wi wi-day-sunny wi-fw"></i></span>
        </p>
      </h5>

      <p style="font-size: 1.2em;" class="list-group-item-text ">{{device.age | ageHumanReadable}}</p>
    </li>
  </ul>

</div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="ok()">Close</button>
    <button class="btn btn-default btn-sm pull-left" type="button" ng-click="edit()"><i class="icon-edit"></i></button>
</div>
